body {
  margin: auto;
  text-align: center;
}
nav a {
  text-align: center;
  padding:10px;
  background-color: gray;
}
figcaption {
  font-size: 8px;
  text-align: center;
}
.paragraph  {
  width: 800px;
  margin: auto;
  }
 section #details {
  display: block;
  float: left;
}
#details div {
  float: left;
  width: 25%;
}
div {
  background-color: gray;
  width: 25%;
}


