*{
  font-family: "Century Gothic"
}

body {
  text-align: center;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

nav > a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(102, 153, 153);
}

figcaption {
  font-size: 10px;
  color: #a6a6a6;
}

section#featured-property {
  width: 800px;
}

#details {
  display: inline-block;
}

#details div {
  width: 25%;
  float: left;
}